* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(236, 236, 236);
}

header {
    background-color:darkslategray ;
    color: white;
    text-align: center;
    padding: 2rem 2rem;
}
header h1 {
    font-size: 3rem;
}

.container {
    width: 400px;
    margin: 0 auto;
}

section article {
    transition: all 0.5s ease;
    background-color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article h2, section article p {
    margin: 1rem;
}

section article:hover {
    
    box-shadow: 0 0.1rem 0.9rem rgba(0, 0, 0, 0.3);
}

footer {
    background-color:darkslategray ;
    color: white;
    padding: 2rem 2rem;
}
footer #copy {
    font-size: 1rem;
    margin: 0;
    display: inline;   
}
footer section {
    float: right ;
    font-size: 1rem;
}
footer a {
    transition: color 0.5s ease;
    color: white;
    padding-left: 15px;
    text-decoration: none;
    cursor: pointer;
    margin: auto;
    font-size: 1rem;
}

footer a:hover {
    color: cornflowerblue;
}
